In [8]:
import logging
logging.basicConfig(format='%(asctime)s: %(levelname)s: %(message)s', level=logging.INFO)

In [1]:
import pandas as pd
ad_data = pd.read_csv('ad_feature_with_img.csv')
print(len(ad_data))
print(ad_data.columns)
ad_data.head(10)

234303
Index(['article_id', 'page_name', 'WEEKDAY', 'HOUR', 'CATEGORY', 'fans',
       'ent0', 'ent1', 'ent2', 'ent3', 'ent4', 'ent5', 'ent6', 'ent7', 'ent8',
       'ent9', 'ent10', 'ent11', 'ent12', 'ent13', 'ent14', 'ent15', 'ent16',
       'ent17', 'ent18', 'ent19', 'ent20', 'ent21', 'ent22', 'ent23', 'ent24',
       'ent25', 'ent26', 'ent27', 'ent28', 'adsense_revenue', 'label9999',
       'label999', 'label99', 'label95', 'label90', 'img_width_pixel',
       'img_height_pixel', 'img_red', 'img_green', 'img_blue'],
      dtype='object')

,article_id,page_name,WEEKDAY,HOUR,CATEGORY,fans,ent0,ent1,ent2,ent3,...,label9999,label999,label99,label95,label90,img_width_pixel,img_height_pixel,img_red,img_green,img_blue
0,42303,197447130339051,3,12,Beauty & Fitness,279000,0,0,0,0,...,0,0,0,0,0,640.0,427.0,250.0,249.0,248.0
1,37119,136639429738109,3,12,Arts & Entertainment,270000,0,0,0,0,...,0,0,0,0,0,318.0,380.0,193.0,191.0,197.0
2,42474,135609749842455,3,12,Arts & Entertainment,131000,0,1,0,0,...,0,0,1,1,1,510.0,573.0,143.0,162.0,193.0
3,42474,181997925164121,3,12,Arts & Entertainment,40000,0,1,0,0,...,0,0,0,0,1,510.0,573.0,143.0,162.0,193.0
4,37016,103004223106563,3,23,Arts & Entertainment,21000,0,0,0,0,...,0,0,0,0,0,580.0,773.0,183.0,153.0,121.0
5,42002,103004223106563,3,23,Sensitive Subjects,21000,0,0,0,0,...,0,0,0,0,0,504.0,284.0,140.0,123.0,70.0
6,42514,103004223106563,3,23,Arts & Entertainment,21000,0,1,0,0,...,0,0,0,0,0,800.0,420.0,75.0,42.0,22.0
7,42414,103004223106563,3,23,Arts & Entertainment,21000,0,0,0,0,...,0,0,0,0,0,50.0,50.0,251.0,251.0,251.0
8,42488,103004223106563,3,23,Arts & Entertainment,21000,0,0,0,0,...,0,0,0,0,0,800.0,420.0,53.0,45.0,46.0
9,38215,103004223106563,3,23,Hobbies & Leisure,21000,1,0,0,0,...,0,0,0,0,0,640.0,423.0,10.0,10.0,6.0

In [2]:
ad_data_le = ad_data[['WEEKDAY', 'HOUR', 'CATEGORY', 'fans',
       'ent0', 'ent1', 'ent2', 'ent3', 'ent4', 'ent5', 'ent6', 'ent7', 'ent8',
       'ent9', 'ent10', 'ent11', 'ent12', 'ent13', 'ent14', 'ent15', 'ent16',
       'ent17', 'ent18', 'ent19', 'ent20', 'ent21', 'ent22', 'ent23', 'ent24',
       'ent25', 'ent26', 'ent27', 'ent28', 'img_width_pixel',
       'img_height_pixel', 'img_red', 'img_green', 'img_blue']]

from sklearn.preprocessing import LabelEncoder
labelencoder = LabelEncoder()
ad_data_le['CATEGORY_le'] = labelencoder.fit_transform(ad_data_le['CATEGORY'])
ad_data_cat = ad_data_le[['CATEGORY', 'CATEGORY_le']]
ad_data_cat

<ipython-input-2-fe12e59ad6d4>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ad_data_le['CATEGORY_le'] = labelencoder.fit_transform(ad_data_le['CATEGORY'])

                    CATEGORY  CATEGORY_le
0           Beauty & Fitness            3
1       Arts & Entertainment            1
2       Arts & Entertainment            1
3       Arts & Entertainment            1
4       Arts & Entertainment            1
...                      ...          ...
234298                Health           10
234299                Health           10
234300  Arts & Entertainment            1
234301  Arts & Entertainment            1
234302                  News           16

[234303 rows x 2 columns]

In [3]:
# to transform the label encoding to one-hot-encoding
from sklearn.preprocessing import OneHotEncoder
enc = OneHotEncoder(handle_unknown='ignore')
CAT_enc_df = pd.DataFrame(enc.fit_transform(ad_data_cat[['CATEGORY_le']]).toarray())
ad_test_df = ad_data_cat.join(CAT_enc_df)
# to rename the columns
cols_name = ['CATEGORY', 'CATEGORY_le']
for cat in labelencoder.classes_:
    cols_name.append(cat)
ad_test_df.columns = cols_name
#ad_test_df.head(10)

# one-hot-encoding WEEKDAY
WEEK_enc_df = pd.DataFrame(enc.fit_transform(ad_data_le[['WEEKDAY']]).toarray())
ad_test_WEEK_df = pd.DataFrame(ad_data_le['WEEKDAY']).join(WEEK_enc_df)
# to rename the columns
cols_name_WEEK = ['WEEKDAY']
for i in range(7):
    temp_name = 'WEEKDAY_{}'.format(str(i))
    cols_name_WEEK.append(temp_name)
ad_test_WEEK_df.columns = cols_name_WEEK
#ad_test_WEEK_df

# one-hot-encoding HOUR
HOUR_enc_df = pd.DataFrame(enc.fit_transform(ad_data_le[['HOUR']]).toarray())
ad_test_HOUR_df = pd.DataFrame(ad_data_le['HOUR']).join(HOUR_enc_df)
# to rename the columns
cols_name_HOUR = ['HOUR']
for i in range(24):
    temp_name = 'HOUR_{}'.format(str(i))
    cols_name_HOUR.append(temp_name)
ad_test_HOUR_df.columns = cols_name_HOUR
ad_test_HOUR_df

,HOUR,HOUR_0,HOUR_1,HOUR_2,HOUR_3,HOUR_4,HOUR_5,HOUR_6,HOUR_7,HOUR_8,...,HOUR_14,HOUR_15,HOUR_16,HOUR_17,HOUR_18,HOUR_19,HOUR_20,HOUR_21,HOUR_22,HOUR_23
0,12,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,12,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,12,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,12,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,23,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
234298,8,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
234299,8,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
234300,8,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
234301,8,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
234302,8,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [4]:
# drop the exist column in total DataFrame
ad_data_enc = ad_data_le.drop(['CATEGORY', 'CATEGORY_le', 'WEEKDAY', 'HOUR'], axis=1)

# process CATEGORY
ad_test_df = ad_test_df.drop(['CATEGORY', 'CATEGORY_le'], axis=1)
ad_data_enc = ad_data_enc.join(ad_test_df)

# process WEEKDAY
ad_test_WEEK_df = ad_test_WEEK_df.drop(['WEEKDAY'], axis=1)
ad_data_enc = ad_data_enc.join(ad_test_WEEK_df)

# process HOUR
ad_test_HOUR_df = ad_test_HOUR_df.drop(['HOUR'], axis=1)
ad_data_enc = ad_data_enc.join(ad_test_HOUR_df)

ad_data_enc.columns

Index(['fans', 'ent0', 'ent1', 'ent2', 'ent3', 'ent4', 'ent5', 'ent6', 'ent7',
       'ent8', 'ent9', 'ent10', 'ent11', 'ent12', 'ent13', 'ent14', 'ent15',
       'ent16', 'ent17', 'ent18', 'ent19', 'ent20', 'ent21', 'ent22', 'ent23',
       'ent24', 'ent25', 'ent26', 'ent27', 'ent28', 'img_width_pixel',
       'img_height_pixel', 'img_red', 'img_green', 'img_blue', 'Adult',
       'Arts & Entertainment', 'Autos & Vehicles', 'Beauty & Fitness',
       'Books & Literature', 'Business & Industrial',
       'Computers & Electronics', 'Finance', 'Food & Drink', 'Games', 'Health',
       'Hobbies & Leisure', 'Home & Garden', 'Internet & Telecom',
       'Jobs & Education', 'Law & Government', 'News', 'Online Communities',
       'People & Society', 'Pets & Animals', 'Real Estate', 'Reference',
       'Science', 'Sensitive Subjects', 'Shopping', 'Sports', 'Travel',
       'WEEKDAY_0', 'WEEKDAY_1', 'WEEKDAY_2', 'WEEKDAY_3', 'WEEKDAY_4',
       'WEEKDAY_5', 'WEEKDAY_6', 'HOUR_0', 'HOUR_1', 'HOUR_2', 'HOUR_3',
       'HOUR_4', 'HOUR_5', 'HOUR_6', 'HOUR_7', 'HOUR_8', 'HOUR_9', 'HOUR_10',
       'HOUR_11', 'HOUR_12', 'HOUR_13', 'HOUR_14', 'HOUR_15', 'HOUR_16',
       'HOUR_17', 'HOUR_18', 'HOUR_19', 'HOUR_20', 'HOUR_21', 'HOUR_22',
       'HOUR_23'],
      dtype='object')

In [5]:
ad_data_enc['label90'] = ad_data['label90']
# to create area for img
ad_data_enc['img_area_pixel'] = ad_data_enc['img_width_pixel']*ad_data_enc['img_height_pixel']
print(ad_data_enc.columns)
ad_data_enc.head(10)

Index(['fans', 'ent0', 'ent1', 'ent2', 'ent3', 'ent4', 'ent5', 'ent6', 'ent7',
       'ent8', 'ent9', 'ent10', 'ent11', 'ent12', 'ent13', 'ent14', 'ent15',
       'ent16', 'ent17', 'ent18', 'ent19', 'ent20', 'ent21', 'ent22', 'ent23',
       'ent24', 'ent25', 'ent26', 'ent27', 'ent28', 'img_width_pixel',
       'img_height_pixel', 'img_red', 'img_green', 'img_blue', 'Adult',
       'Arts & Entertainment', 'Autos & Vehicles', 'Beauty & Fitness',
       'Books & Literature', 'Business & Industrial',
       'Computers & Electronics', 'Finance', 'Food & Drink', 'Games', 'Health',
       'Hobbies & Leisure', 'Home & Garden', 'Internet & Telecom',
       'Jobs & Education', 'Law & Government', 'News', 'Online Communities',
       'People & Society', 'Pets & Animals', 'Real Estate', 'Reference',
       'Science', 'Sensitive Subjects', 'Shopping', 'Sports', 'Travel',
       'WEEKDAY_0', 'WEEKDAY_1', 'WEEKDAY_2', 'WEEKDAY_3', 'WEEKDAY_4',
       'WEEKDAY_5', 'WEEKDAY_6', 'HOUR_0', 'HOUR_1', 'HOUR_2', 'HOUR_3',
       'HOUR_4', 'HOUR_5', 'HOUR_6', 'HOUR_7', 'HOUR_8', 'HOUR_9', 'HOUR_10',
       'HOUR_11', 'HOUR_12', 'HOUR_13', 'HOUR_14', 'HOUR_15', 'HOUR_16',
       'HOUR_17', 'HOUR_18', 'HOUR_19', 'HOUR_20', 'HOUR_21', 'HOUR_22',
       'HOUR_23', 'label90', 'img_area_pixel'],
      dtype='object')

,fans,ent0,ent1,ent2,ent3,ent4,ent5,ent6,ent7,ent8,...,HOUR_16,HOUR_17,HOUR_18,HOUR_19,HOUR_20,HOUR_21,HOUR_22,HOUR_23,label90,img_area_pixel
0,279000,0,0,0,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,273280.0
1,270000,0,0,0,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,120840.0
2,131000,0,1,0,0,1,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1,292230.0
3,40000,0,1,0,0,1,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1,292230.0
4,21000,0,0,0,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0,448340.0
5,21000,0,0,0,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0,143136.0
6,21000,0,1,0,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0,336000.0
7,21000,0,0,0,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0,2500.0
8,21000,0,0,0,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0,336000.0
9,21000,1,0,0,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0,270720.0

In [6]:
x_enc_cols = ['fans', 'ent0', 'ent1', 'ent2', 'ent3', 'ent4', 'ent5', 'ent6', 'ent7',
       'ent8', 'ent9', 'ent10', 'ent11', 'ent12', 'ent13', 'ent14', 'ent15',
       'ent16', 'ent17', 'ent18', 'ent19', 'ent20', 'ent21', 'ent22', 'ent23',
       'ent24', 'ent25', 'ent26', 'ent27', 'ent28', 'img_width_pixel',
       'img_height_pixel', 'img_red', 'img_green', 'img_blue', 'Adult',
       'Arts & Entertainment', 'Autos & Vehicles', 'Beauty & Fitness',
       'Books & Literature', 'Business & Industrial',
       'Computers & Electronics', 'Finance', 'Food & Drink', 'Games', 'Health',
       'Hobbies & Leisure', 'Home & Garden', 'Internet & Telecom',
       'Jobs & Education', 'Law & Government', 'News', 'Online Communities',
       'People & Society', 'Pets & Animals', 'Real Estate', 'Reference',
       'Science', 'Sensitive Subjects', 'Shopping', 'Sports', 'Travel',
       'WEEKDAY_0', 'WEEKDAY_1', 'WEEKDAY_2', 'WEEKDAY_3', 'WEEKDAY_4',
       'WEEKDAY_5', 'WEEKDAY_6', 'HOUR_0', 'HOUR_1', 'HOUR_2', 'HOUR_3',
       'HOUR_4', 'HOUR_5', 'HOUR_6', 'HOUR_7', 'HOUR_8', 'HOUR_9', 'HOUR_10',
       'HOUR_11', 'HOUR_12', 'HOUR_13', 'HOUR_14', 'HOUR_15', 'HOUR_16',
       'HOUR_17', 'HOUR_18', 'HOUR_19', 'HOUR_20', 'HOUR_21', 'HOUR_22',
       'HOUR_23', 'img_area_pixel'] # with img_area_pixel
y_enc_cols = ['label90']

from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(
ad_data_enc[x_enc_cols], ad_data_enc[y_enc_cols], test_size=0.3, random_state=0)

# to check the size of the train & test
print("Train data length: {}".format(str(len(X_train))))
print("Test data length: {}".format(str(len(X_test))))

Train data length: 164012
Test data length: 70291

# cope with unbalanced data

In [145]:
# print("Original dataset shape: \n{}".format(y_train['label90'].value_counts()))
# # to undersample the ad_data_enc randomly -> 0(normal):1(high)=80%:20%
# from imblearn.under_sampling import RandomUnderSampler
# rus = RandomUnderSampler(sampling_strategy=0.4, random_state=0)
# X_train_rus, y_train_rus = rus.fit_resample(X_train, y_train)
# print("Resampled dataset shape: \n{}".format(y_train_rus['label90'].value_counts()))

In [146]:
print("Original dataset shape: \n{}".format(y_train['label90'].value_counts()))
# to oversample the ad_data_enc by SMOTE
from imblearn.over_sampling import SMOTE
sm = SMOTE(sampling_strategy=0.4, random_state=0)
X_train_rus, y_train_rus = sm.fit_resample(X_train, y_train)
print("Resampled dataset shape: \n{}".format(y_train_rus['label90'].value_counts()))

Original dataset shape:
0    147639
1     16373
Name: label90, dtype: int64
Resampled dataset shape:
0    147639
1     59055
Name: label90, dtype: int64

## xgboost

In [122]:
# to put the data into xgboost for undersampling data
import xgboost as xgb

# to create the xgboost DMatrix data format
dtrain = xgb.DMatrix(X_train_rus, label=y_train_rus)
#dtrain = xgb.DMatrix(X_train, label=y_train)
dtest = xgb.DMatrix(X_test, label=y_test)

In [123]:
# to set the parameters: version 2: binary:logistic
parameters = {
    'eta':0.3,
    'verbosity':1,
    'objective':'binary:logistic',
    'max_depth':5,
    'min_child_weight':6,
    'eval_metric':'error',
    'subsample':1,
    'colsample_bytree':1
}
num_round = 30# the number of training iterations

# to train the xgboost model
bst = xgb.train(parameters, dtrain, num_round)

# to store the result of the prediction (probability)
preds = bst.predict(dtest)
print("the length of preds: {}".format(len(preds)))
print(preds[:10])

# to set the threshold 0.5 
best_preds = (preds >= 0.5)*1
print(best_preds[:10])

the length of preds: 70291
[0.22464988 0.07494905 0.11911227 0.02785769 0.35593247 0.01482106
 0.1578792  0.01955718 0.04688717 0.17785577]
[0 0 0 0 0 0 0 0 0 0]

In [124]:
# to print out the result: accuracy, precision, recall, f1csore
# to calculate the precision
from sklearn.metrics import accuracy_score
print("accuracy: {:.5}".format(accuracy_score(y_test, best_preds)))
from sklearn.metrics import precision_score
print("precision: {:.5}".format(precision_score(y_test, best_preds, average='macro')))
from sklearn.metrics import recall_score
print("recall: {:.5}".format(recall_score(y_test, best_preds)))
from sklearn.metrics import f1_score
print("f1 score: {:.5}".format(f1_score(y_test, best_preds, average='macro')))

accuracy: 0.90063
precision: 0.74011
recall: 0.12493
f1 score: 0.57604

In [125]:
# to print out confusion matrix
from sklearn.metrics import confusion_matrix
tn, fp, fn, tp = confusion_matrix(y_true=y_test, y_pred=best_preds).ravel()
matrix_cols = ['Classified as Normal', 'Classified as H.P.']
matrix_index = ['Normal', 'H.P.']
matrix_result = {'Classified as Normal':[tn, fn],
                'Classified as H.P.':[fp, tp]}
confusion_matrix_df = pd.DataFrame(matrix_result, index=matrix_index, columns=matrix_cols)
confusion_matrix_df

        Classified as Normal  Classified as H.P.
Normal                 62405                 674
H.P.                    6311                 901

## Decision Tree

In [147]:
# to build up a Decision Tree
from sklearn.tree import DecisionTreeClassifier
tree = DecisionTreeClassifier(criterion='entropy', splitter='best', max_depth=6, random_state=0)
#tree.fit(X_train, y_train)
tree.fit(X_train_rus, y_train_rus)

# predict the response for test dataset
y_pred = tree.predict(X_test)
y_pred[:10]

array([0, 0, 0, 0, 1, 0, 0, 0, 0, 0], dtype=int64)

In [148]:
# to print out the result: accuracy, precision, recall, f1csore
# to calculate the precision
from sklearn.metrics import accuracy_score
print("accuracy: {:.5}".format(accuracy_score(y_test, y_pred)))
from sklearn.metrics import precision_score
print("precision: {:.5}".format(precision_score(y_test, y_pred, average='macro')))
from sklearn.metrics import recall_score
print("recall: {:.5}".format(recall_score(y_test, y_pred)))
from sklearn.metrics import f1_score
print("f1 score: {:.5}".format(f1_score(y_test, y_pred, average='macro')))

accuracy: 0.88135
precision: 0.66346
recall: 0.32321
f1 score: 0.64659

In [149]:
# to print out confusion matrix
from sklearn.metrics import confusion_matrix
tn, fp, fn, tp = confusion_matrix(y_true=y_test, y_pred=y_pred).ravel()
matrix_cols = ['Classified as Normal', 'Classified as H.P.']
matrix_index = ['Normal', 'H.P.']
matrix_result = {'Classified as Normal':[tn, fn],
                'Classified as H.P.':[fp, tp]}
confusion_matrix_df = pd.DataFrame(matrix_result, index=matrix_index, columns=matrix_cols)
confusion_matrix_df

        Classified as Normal  Classified as H.P.
Normal                 59620                3459
H.P.                    4881                2331